
  <!-- sidebar bar lateral -->
  <div class="sidebar">
    <a href="#home"> 
      <i class="fa fa-house"></i>
      Início
    </a>

    <a href="#search"> 
      <i class="fa fa-fw fa-search"></i>
      Buscar
    </a>

    <a href="#library">
      <i class="fa fa-fw fa-book"></i>
      Biblioteca
    </a>

    <h6>
      PLAYLISTS
    </h6>

    <a href="#playlist1" class="create-playlist-btn">
      <i class="fa fa-fw fa-plus"></i>
      Criar Playlist
    </a>

    <a href="#playlist2" class="heart-playlist-btn">
      <i class="fa fa-fw fa-heart"></i>
      Músicas Curtidas
    </a>

    <hr class="sidebar-divider">

    <a>
      Seus Episódios
    </a>

    <a>
      No Repeat
    </a>

    <a>
      Caminho Diário
    </a>

    <a>
      Sua Máquina do Tempo
    </a>

    <a>
      Daily Mix 1
    </a>

    <a>
      Daily Mix 2
    </a>
    
  </div>
